/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core-wgcnamodules -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 6
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data

    input = 'https://raw.githubusercontent.com/roldanjg/wgcnamodules_testdata/main/samplesheet_wgcna.csv'
    contrast = 'https://raw.githubusercontent.com/roldanjg/wgcnamodules_testdata/main/contrasts_wgcna.csv'

    norm = 'TPM'
    diff_exp_genes =  false
    genes = 'https://raw.githubusercontent.com/roldanjg/wgcnamodules_testdata/main/genes.txt'
    fdr =  0.05
    log2ratio =  1
    salmon_dir = 'https://raw.githubusercontent.com/roldanjg/wgcnamodules_testdata/main/salmon'
}
