/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core-wgcnamodules -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 6
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    
    input = 'https://raw.githubusercontent.com/roldanjg/wgcnamodules_testdata/main/samplesheet_wgcna.csv'
    contrast = 'https://raw.githubusercontent.com/roldanjg/wgcnamodules_testdata/main/contrasts_wgcna.csv'

    norm = 'ratio'
    diff_exp_genes =  true
    fdr =  0.05
    log2ratio =  1
    salmon_dir = 'https://raw.githubusercontent.com/roldanjg/wgcnamodules_testdata/main/salmon'

}